html, body {
  color: white;
  background: #080808;
}
.container {
  font-family: 'Inconsolata', monospace;
}
a { color: #f3f3f3; font-weight: bold; }
.links a { color: #white; font-size: 16px; font-weight: normal; vertical-align: middle; margin-right: 10px;}
.title a:hover { text-decoration: none; }
.menu {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  border-radius: 5px;
}
#board {
 text-transform: capitalize;
}
#error {
  color: red;
}
#new-post input, #new-post textarea {
  width: 360px;
}
.post-content {
  display: none;
}
#nav {
  list-style-type: none;
}
